h1 {
    color: white;
}

h2 {
    margin-top: 1.5vw !important;
    margin-bottom:1.5vw !important;
}

#lookup {
    width: 80%;
    color: white !important;
}

#your-wl-spots {
    font-size: 1.6vw;
    line-height: 2vw;
}

#wl-select {
    width: 80%;
}


#wl-section {
    border-radius: 1vw;
    background: #0ffef26f;
    border: solid .5vw #0fdad0;
    width: 90%;
    /* min-height: 20vh; */
    overflow-y: scroll;
    /* border: .5vw black solid; */
    /* border-radius: 20px; */
    margin: auto;
    text-align: center;
    padding-top: .5vw;
    /* padding-bottom: 1.5vw; */
    font-size: 1.2vw;
    line-height: 1.3vw;
    padding: 1.5vw;
}

.wl-row {
    width: 100%;
    border-radius: .5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Space";
    padding: 1vw;
}

.wl-discord, .wl-address {
    width: 50%;
}

.wl-discord {
    text-align: left;
}

.wl-address {
    text-align: right;
}

#wl-section > .wl-row:nth-child(1) {
    background: #03b4ab !important;
}

#wl-section > .wl-row:nth-of-type(odd) {
    background: #03b4abbd;
}

#lookup-button {
    width: 50%;
}

select {
    text-align: center;
    font-size: 1.5vw;
    line-height: 2vw;
    width: 75%;
    margin-bottom: 2vw;
}

#spacer {
    height: 2vw;
}

#download-link {
    width: 5%;
}

#download-button {
    width: 3.5%;
}

@media screen and (max-width: 991px) {

    .wl-row {
        display: block;
        padding: 8px;
        border-radius: 1vw;
    }

    #discord-header, #address-header {
        font-size: 2vh;
        line-height: 2vh;
    }

    .wl-discord, .wl-address {
        width: 100%;
        text-align: center;
        padding-top: 4px;
        padding-bottom: 4px;
    }

    #lookup {
        width: 97%;
    }

    #your-wl-spots {
        font-size: 3.4vh;
        line-height: 3.6vh;
    }

    h2 {
        margin-top: 4vh !important;
        margin-bottom:4vh !important;
    }

    #wl-section {
        width: 98%;
        border-width: 5px;
        padding-top:2vh;
        padding-bottom: 2vh;
        font-size: 1.6vh;
        line-height: 1.6vh;
    }

    input, select {
        font-size: 3vh;
        line-height: 3vh;
        border-width: 5px;
        width: 98%;
    }

    select {
        font-size: 2vh;
        line-height: 2vh;
        width: 90%;
    }

    select {
        margin-bottom: 4vh;
    }

    #wl-select {
        width: 95%;
    }



    #spacer {
        height: 2vh;
    }


}