
@font-face {  
	font-family: 'Space';
	src: URL('../css/SpaceMono-Regular.ttf') format('truetype');
}  

.token-balance-float {
    position: fixed;
    right: 30px;
    bottom: 30px;
    font-size: 1.5vw;
    z-index: 10;
    display: flex;
    align-items: center;
    padding: 15px;
    background: white;
    color: black;
    border: 1px solid black;
	border-radius: 15px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    height: 8vh;
  }

  #market-section {
      padding-bottom: calc(1.5vw + 150px) !important;
  }

/* Onboarding section */

#onboarding-wrapper {
    width: 60%;
    margin: auto;
    background-color: rgba(255, 0, 0, 0.484);
    border: solid .5vw rgb(81, 20, 20);
	border-radius: 1vw;
    padding: 1vw;
}

#onboarding-alert p {
    width: 80%;
    margin: auto;
    font-family: "Space";
    text-align: center;
    /* background-color: black; */
    /* background-color: rgba(255, 0, 0, 0.484); */

}

.onboarding-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.onboarding {
    width: 50%;
    display: inline-block;
    margin: 0;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.onboarding button {
    background-color: white;
    color: black;
    display: inline;
    margin-top: 1vw;
    margin-bottom: 1vw;
    width: 75%;
    height: 7vh;
}

.onboarding h1 {
    margin: 0;
}

h2 {
    color: white;
}

/* End approval section */

#market-section {
    padding-top: 0;
}

.active {
	background-color: #0FFEF2 !important;
    -webkit-box-shadow:0px 0px 75px 1px rgba(0,255,242,0.9);
	-moz-box-shadow: 0px 0px 75px 1px rgba(0,255,242,0.9);
	box-shadow: 0px 0px 75px 1px rgba(0,255,242,0.9);
}

#selector-div {
    text-align: center;
    width: 50%;
    margin: auto;
    border: .2vw solid rgba(0,255,242);
    border-radius: 1vw;
    padding: 1vw;
}

#selector-div button {
    font-size: 2vw;
    line-height: 2vw;
    padding: .2vw;
    width: 49%;
    background-color: white;
    color: black;
}

#live-collections, #past-collections {
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: stretch;
    margin: auto;
    width: 100%;
}

#live-collections button, #past-collections button {
    width: 90%;
}

.example {
    position: relative;
}

.select-prompt {
    height: initial !important;
}

.cover {
    position: absolute;
	border-width: .2vw;
	border-radius: 15px;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.856);
}

.cover button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-color: white;
}

.partner-collection {
	border-style: solid;
	border-color: white;
	border-radius: 15px;
	border-width: .2vw;
    width: 22%;
    margin: 1%;
    background-color: black;
    color: white !important;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 1vw;
    position: relative;
}

.partner-collection .website {
    position: absolute;
    top: 2%;
    left: 2%;
    width: 15%;
}

.partner-collection .website:hover {
    opacity: .6;
}

.partner-collection {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.partner-collection h3 {
    font-size: 1.8vw;
    line-height: 1.8vw;
    color: white !important;
}

.partner-collection .link {
	color: #0FFEF2 !important;
	text-decoration: none
}

.partner-collection .link:hover {
	color: #bef9f6 !important;
	text-decoration: none
}

.partner-collection button {
    margin-top: auto;
    min-height: 7vh;
}

.collection-twitter {
    position: absolute;
    top: 1%;
    left: 2%;
    width: 15%;
}

.collection-discord {
    position: absolute;
    top: 1%;
    right: 2%;
    width: 15%;
}

.collection-img {
	border-style: solid;
    object-fit: cover;
	border-color: white;
	border-radius: 15px;
	border-width: .2vw;
    background-color: black;
    width: 30%;
    width: 200px;
    height: 200px;
}

.collection-info {
    width:90%;
}

.collection-description {
    min-height: 20%;
    padding: 2%;
    color: white !important;
    padding-bottom: 10px;
    font-family: "Space";
}

h3 {
    font-size: 1.5vw;
    line-height: 1.6vw;
    color: white;
    margin-top: 1.5vw;
}

h3, h4 {
    margin: 0;
}

a {
    color: white;
}

h4 {
    font-size: 1.4vw;
    line-height: 1.8vw;
    color: white;
    font-family: "Space";

}

.inside-text {
    font-size: 1.2vw;
    line-height: 1.3vw;
    padding-bottom: 20px;
}

.end-time, .start-time {
    font-size: 1.2vw;
    line-height: 1.3vw;
}

#mint-prompt {
    background-color: black;
    z-index: 99999;
    position:fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    height: 50vh;
    border: solid 3px #00fff2;
    border-radius: .2em;
    font-size: 2.7vw;
    animation: glow 1.6s linear infinite;
  }

  #max-button {
    width:initial;
    color:black;
    width:50%;
    height:initial;
    font-size:1vw;
  }

#block-screen {
    opacity: 1;
    background-color: rgba(0,0,0,0.88) !important;
}

#close {
    padding: .2vw;
}

#mint-button-div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 15%;   
}

#mint-input {
    width: 100%;
    height: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
}


.mint-input-part {
    width: 50%;
}

.button {
    height: initial;
}

.mint-button {
    width: 45%;
    height: 95%;
    margin: 2.5%;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 1.3vw;
}

.mint-button .mes-icon {
    cursor: pointer;
}

#mint-prompt h3 {
    font-size: 2.5vw;
    line-height: 2.6vw;
}

#mint-prompt h4 {
    font-size: 2.2vw;
    line-height: 2.3vw;
}

.mes-icon {
    width: 1.7em
}

.purchased {
    background-color: grey;
}

.purchased:hover {
    background-color: grey !important;
    box-shadow: none;
}

.cover .select-prompt:hover {
    background-color: white !important;
    box-shadow: none;
    cursor: default;
}

.down-arrow {
    width: 3vw;
}

.one {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.0s;
    animation: dot 1.3s infinite;
    animation-delay: 0.0s;
}
  
.two {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.2s;
    animation: dot 1.3s infinite;
    animation-delay: 0.2s;
}
  
.three {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.3s;
    animation: dot 1.3s infinite;
    animation-delay: 0.3s;
}
  
@-webkit-keyframes dot {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
  
@keyframes dot {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Scroll animation */

@-webkit-keyframes bounce {
    0% { transform: translateY(0);} 
   50% {transform: translateY(-5px);} 
   100% { transform: translateY(0);} 
}
  
@keyframes bounce {
    0% { transform: translateY(0);} 
   50% {transform: translateY(-5px);} 
   100% { transform: translateY(0);} 
}

#scroll-indicator {
    -webkit-animation: bounce 1.3s infinite;
    animation: bounce 1.3s infinite;
    color: white !important;
}

@media screen and (max-width: 991px) {

    .down-arrow {
        width: 3vh;
    }

    #live-collections button, #past-collections button {
        width: 90%;
    }

    .token-balance-float {
        position: fixed;
        bottom: 20px;
        left: 50%;
        transform: translate(-50%, 0);
        width: 80%;
        margin: auto;
        font-size: 2.5vh;
        z-index: 10;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        padding: 10px;
        background: white;
        color: black;
        border: 1px solid black;
        box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
        height: initial;
      }

    /* Approval section*/

    #onboarding-wrapper {
        width: 95%;
        border-radius: 15px;
        border-width: 5px;
    }

    .button {
        border-radius: 5px;
    }

    #onboarding-section {
        padding-top: 25px !important;
        padding-bottom: 25px !important;
    }

    #onboarding-alert p {
        width: 95%;
        margin: auto !important;
    }

    .onboarding-wrapper {
        display: initial;
    }

    .onboarding {
        width: 90%;
    }

    .onboarding h1 {
        font-size: 4.5vh !important;
        line-height: 4.5vh !important;
    }

    #wl-select {
        margin-top: 25px;
    }

    .onboarding button {
        width: 90%;
    }

    /* End approval section*/

    #selector-div {
        width: 90%;
        border-width: 5px;
        border-radius: 15px;
        padding: 1.5vh;
    }


    #selector-div button {
        font-size: 3.4vh;
        line-height: 3.4vh;
        padding: 1vw;
        width: 45%;
    }

    .navbar-container {
        width: 50% !important;
        padding: 0;
      }

    .partner-collection {
        width: 90%;
        padding: 15px;
    }

    .collection-info {
        width:100%;
        margin-left: initial;
    }

    .partner-collection {
		border-width: 5px;
        margin-top: 40px;
    }

    .collection-img {
		border-width: 5px;
        width: 200px;
        height: 200px;
        min-width: 0px !important;
        min-height: 0px !important;
    }
    
    .collection-description {
        min-height: 20%;
        padding: 2%;
    }

    .partner-collection h3 {
        font-size: 3.8vh !important;
        line-height: 3.9vh !important;
        margin-top: 10px;
    }

    h4 {
        font-size: 3vh;
        line-height: 3.1vh;
        color: white;
    }

    .inside-text {
        font-size: 2.7vh;
        line-height: 3vh;
        padding-bottom: 20px;
        padding-top: 0;
    }

    .end-time, .start-time {
        font-size: 2.6vh !important;
        line-height: 3vh !important;   
    }

    #mint-prompt {
        width: 100vw;
        height: 90vh;
        font-size: 2.7vh;
      }

    #header-div {
        height: 7% !important;
    }

    #max-button {
        font-size: 2.7vh;
        width: 15%;
    }

    #number-to-mint {
        font-size:10vh;
        margin-top: 5vh;
    }

    .increment-button {
        font-size:15vh;
    }

    #mint-plus {
        margin-left: 6vh;
    }

    #mint-minus {
        margin-right: 6vh;
    }

    .mint-input-part {
        width: 100%;
    }

      #close {
        padding: 1vh;
        font-size: 4vh;
    }
    
    #mint-prompt h3 {
        font-size: 4.5vh;
        line-height: 4.6vh;
        margin: initial;        
    }

    #mint-prompt-header {
        margin-top: 3.5vh !important;
    }

    #mint-prompt h4 {
        font-size: 4.2vh;
        line-height: 4.3vh;
        margin: initial;
    }

    #number-to-mint-header {
        margin-bottom: 4vh !important;
    }

    .mes-icon {
        width: 1.7em
    }

    #mint-input {
        height: 50%;
    }


    .mint-button {
        width: 90%;
        height: 75%;
        margin: 5%;
        font-size: 2.7vh;
    }

    .mint-prompt-button {
        font-size: 3vh;
    }
}


@media screen and (min-width: 1900px) {

    .collection-img {
        width: 250px;
        height: 250px;
    }
}