@font-face {  
	font-family: 'Space';
	src: URL('../css/SpaceMono-Regular.ttf') format('truetype');
} 

#modify-input input, #create-input input {
    width: 85%;
    font-size: .9vw;
    line-height: 1.5vw;
	font-family: 'Space';
    color: black;
    border: solid black .25vw;
}

#modify-input a, #create-input a {
    font-size: .9vw;
	font-family: 'Space';
    line-height: 1.5vw;
}

#listing-select-div {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

@media screen and (max-width: 767px) {

    #modify-input input, #create-input input {
        width: 85%;
        font-size: 2vh;
        line-height: 2vh;
        border: solid black 2px;
    }

    #modify-input a, #create-input a {
        font-size: 2vh;
        line-height: 2vh;
    }


}