@font-face {  
	font-family: 'Space';
	src: URL('../css/SpaceMono-Regular.ttf') format('truetype');
} 

#modify-input input, #modify-input textarea, #create-input input, #create-input textarea {
    width: 85%;
    font-size: .9vw;
    line-height: 1.5vw;
	font-family: 'Space';
    color: black;
    border: solid black .25vw;
}

textarea {
    resize: vertical;
}

#modify-input a, #create-input a {
    font-size: .9vw;
	font-family: 'Space';
    line-height: 1.5vw;
}

#listing-select-div {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.end-time, .start-time {
    font-size: .94vw;
    line-height: .94vw;
}

@media screen and (max-width: 991px) {

    .end-time, .start-time {
        font-size: 1.9vh !important;
        line-height: 2vh !important;   
    }

    #modify-input input, #modify-input textarea, #create-input input, #create-input textarea {
        width: 85%;
        font-size: 2vh;
        line-height: 2vh;
        border: solid black 2px;
    }

    #modify-input a, #create-input a {
        font-size: 2vh;
        line-height: 2vh;
    }


}